@use "sass:color";
@use "colors";
@use "lib";

window#bar {
  @include lib.unset($rec: true);

  & {
    @include lib.window;
    min-height: 2.25rem;
    padding: 1rem;
    margin-top: 0.6rem;
  }

  tooltip {
    background-color: colors.$surfaceVariant;
    color: colors.$onSurface;
    padding: 1rem;
    border-radius: 1rem;
  }

  .logo {
    font-size: 1.5rem;
    background-color: colors.$primary;
    color: colors.$surface;
    border-radius: 2rem;
    padding: 0 1rem 0 0.5rem;
    transition: 0.3s;

    &:hover {
      background-color: color.mix(colors.$primary, colors.$onSurface, 70%);
    }
  }

  .workspaces {
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: colors.$surfaceVariant;

    .workspace {
      border-radius: 50%;
      background-color: colors.$onPrimary;
      margin: 0 0.25rem;
      padding: 0rem 0.7rem;
      transition: 0.3s;

      &.active {
        border-radius: 1rem;
        background-color: colors.$primary;
        padding: 0 2rem;
      }

      &.empty {
        background-color: colors.$overlay1;
      }

      &:hover {
        background-color: color.mix(colors.$onPrimary, colors.$onSurface, 70%);
        &.current {
          background-color: color.mix(colors.$primary, colors.$onSurface, 70%);
        }
      }
    }
  }

  .tray-button {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 1.5rem;

    &:hover {
      background-color: color.mix(colors.$surface, colors.$onSurface, 70%);
    }
  }

  .keyboard {
    border-radius: 0.5rem;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 1.3rem;
    font-weight: bold;

    &:hover {
      background-color: color.mix(colors.$surface, colors.$onSurface, 70%);
    }
  }

  .indicators {
    background-color: colors.$surfaceVariant;
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    margin-right: 0;
    transition: 0.3s;

    .indicator-icon {
      margin: 0 0.55rem;
      font-size: 1.5rem;
    }

    &:hover {
      background-color: color.mix(
        colors.$surfaceVariant,
        colors.$onSurfaceVariant,
        70%
      );
    }

    .date-time {
      font-weight: bold;
      border-radius: 1rem;
      padding: 0 0.5rem;
      margin: 0 0.25rem;
      transition: 0.3s;
      font-size: 1.5rem;
    }
  }

  .sharing {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: colors.$onPrimary;

    animation: blink 1.5s ease-in-out infinite;
  }

  @keyframes blink {
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
  }
}
