@use "sass:color";
@use "colors";
@use "lib";

window#launcher {
  @include lib.window;
  margin-top: 0.5rem;
  margin-left: 0.5rem;

  .search-bar {
    background-color: colors.$surfaceVariant;
    border-radius: 1rem;
    padding: 0.75rem;

    entry {
      font-size: 1.25rem;
      margin-left: 1rem;
      background-color: transparent;
      border: none;
    }
  }

  .item {
    color: colors.$onSurface;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: color.mix(colors.$surface, colors.$onSurface, 90%);
    }

    label {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }

  icon {
    font-size: 3rem;
  }
}
