@mixin window {
  background-color: $crust;
  border-radius: 1rem;
  padding: 1rem;
  color: $text;
  box-shadow: 0 0 4px 2px $shadow;
}

@mixin unset($rec: false) {
  all: unset;

  @if $rec {
    * {
      all: unset;
    }
  }
}
