@use "sass:color";
@use "colors";
@use "lib";

window#quick-settings {
  @include lib.unset($rec: true);

  .quick-settings {
    @include lib.window;
    min-width: 10px;
  }

  .avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 100%;
  }

  .power-menu-buttons {
    margin-left: 1rem;
    margin-right: 1rem;
    button {
      @include lib.hovered-button;
      background-color: colors.$surfaceVariant;
      border-radius: 2rem;
    }
  }

  .time {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .date-time {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .toggle-button {
    &.active button {
      background-color: colors.$primary;
      color: colors.$surface;
    }

    &.active:hover button {
      background-color: color.mix(colors.$primary, colors.$onSurface, 70%);
    }

    button {
      @include lib.hovered-button;
      transition: 500ms;
      background-color: colors.$surfaceVariant;
      color: colors.$onSurface;
      // border-radius: 1.5rem;
      // padding: 0.75rem;
      font-size: 1.05rem;
      font-weight: bold;
    }

    .primary-action {
      border-radius: 1.5rem;
      padding: 0.75rem;
    }

    .primary-action.has-secondary-action {
      border-radius: 1.5rem 0 0 1.5rem;
      padding: 0.75rem 0 0.75rem 0.75rem;
    }

    .secondary-action {
      border-radius: 0 1.5rem 1.5rem 0;
      padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    }

    .indicator-icon {
      font-size: 1.3rem;
      color: inherit;
    }

    .text {
      margin-left: 1rem;

      .subtitle {
        font-size: 0.9rem;
        font-weight: normal;
      }
    }
  }

  .network-list {
    .network-item {
      @include lib.hovered-button;
      border-radius: 1rem;
      padding: 0.25rem 1rem;
      .text {
        .icon {
          margin-right: 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  .volume {
    .volume-slider {
      margin-left: 1rem;
      margin-right: 1rem;

      trough {
        background-color: colors.$surfaceVariant;
        border-radius: 1rem;
      }

      highlight {
        background-color: colors.$primary;
        min-height: 0.8rem;
        border-radius: 1rem;
      }

      slider {
        background-color: colors.$primary;
        border-radius: 1rem;
        min-height: 1.2rem;
        min-width: 1.2rem;
        margin: -0.2em;
      }

      & .muted {
        highlight,
        slider {
          background-color: colors.$onSurfaceVariant;
        }
      }
    }

    .volume-button {
      @include lib.hovered-button;
      margin-left: 0.1rem;
      font-size: 1.25rem;
      min-width: 2rem;
      border-radius: 2rem;
      transition: 0.3s;
      padding: 0 0.3rem 0 0.2rem;
    }
  }

  .device-list {
    .device-item {
      @include lib.hovered-button;
      border-radius: 1rem;
      padding: 0.25rem 1rem;
      .icon {
        margin-right: 1rem;
        font-size: 1rem;
      }
      & .active {
        color: colors.$primary;
      }

      &:hover .active {
        color: colors.$base;
      }
    }
  }

  .player {
    padding: 10px;
    min-width: 350px;
    background-color: colors.$surfaceVariant;
    border-radius: 5px;
  }

  .player .cover-art {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1em;
  }

  .player .title {
    font-size: 1.2em;
  }

  .player .artist {
    font-size: 1.1em;
    color: colors.$text;
  }

  .player scale.position {
    padding: 0;
    margin-bottom: 0.3em;
  }

  .player scale.position trough {
    min-height: 8px;
  }

  .player scale.position highlight {
    background-color: colors.$primary;
  }

  .player scale.position slider {
    all: unset;
  }

  .player button {
    min-height: 1em;
    min-width: 1em;
    padding: 0.3em;
  }
}
