@use "sass:color";
@use "colors";
@use "lib";

window#bar {
  > box {
    padding: 0.5rem;
    border-radius: 0;
  }

  .date-time {
    font-size: 1rem;

    button {
      background-color: transparent;
      border: none;

      &:hover {
        color: colors.$text;
      }
    }
  }

  .workspaces {
    .app-button {
      padding: 0.15rem;

      &.urgent {
        border: 1px solid colors.$error;
      }
    }
  }
}
