@use "sass:color";
@use "colors";
@use "lib";

window#bar {
  > box {
    padding: 0.5rem;
    border-radius: 0;
  }

  .date-time {
    font-size: 1rem;

    button {
      background-color: transparent;
      border: none;
    }
  }
}
