@use "sass:color";
@use "colors";
@use "lib";

window#bar {
  > box {
    padding: 0.5rem;
    border-radius: 0;
  }

  .date-time {
    font-size: 1rem;

    button {
      background-color: transparent;
      border: none;

      &:hover {
        color: colors.$text;
      }
    }
  }

  .workspaces {
    .app-button {
      padding: 0.15rem;

      &.urgent {
        border: 1px solid colors.$error;
      }
    }

    .workspace-label {
      padding: 0rem;
      image {
        color: colors.$accent;
      }
    }
  }

  .quick-settings-button {
    background-color: colors.$overlay;
    border-radius: 0.5rem;
    padding: 0.3rem;

    &:hover {
      background-color: color.adjust(colors.$overlay, $lightness: 10%);
    }

    button {
      all: unset;
    }

    label {
      padding-left: 0.25rem;
      padding-right: 0.5rem;
    }

    image {
      background-color: color.adjust(colors.$accent, $lightness: -30%);
      color: colors.$base;
      border-radius: 0.5rem;
      padding: 0.5rem;
      &.active {
        background-color: colors.$accent;
      }
    }
  }

  .audio-visualizer {
    color: colors.$accent;
  }
}
