@use "colors";

@mixin window {
  background-color: colors.$base;
  border-radius: 1rem;
  padding: 1rem;
  color: colors.$text;
  box-shadow: 0 0 4px 2px colors.$surface;
}

@mixin menubutton {
  &:hover,
  &:active {
    background-color: colors.$surface;
    color: colors.$text;
  }
}
