@use "colors.scss";
@use "lib.scss";
@use "bar.scss";
@use "applauncher.scss";
@use "notification-popups.scss";

window {
  > box {
    @include lib.window;
  }
}

button,
modelbutton {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: colors.$accent;
  color: colors.$base;
}

modelbutton,
.menubutton {
  @include lib.menubutton;
}

.icon-button {
  > button {
    padding: 0.25rem;
  }
}

entry {
  all: unset;
}

popover contents {
  all: unset;
  @include lib.window;
  border: none;
}

popover arrow {
  background: none;
  border: none;
}

scale {
  padding: 0;

  trough {
    all: unset;
    min-height: 1rem;
    border-radius: 1rem;
  }

  highlight {
    all: unset;
    min-height: 1rem;
    border-radius: 1rem;
    background: colors.$accent;
  }

  slider {
    all: unset;
    border-radius: 1rem;
    margin: 0;
  }
}

.icon-indicator {
  color: colors.$accent;
}

.blink {
  animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }
}
