@use "colors.scss";
@use "lib.scss";
@use "bar.scss";
@use "applauncher.scss";

window {
  > box {
    @include lib.window;
  }
}

button,
modelbutton {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: colors.$secondary;
  color: colors.$base;
}

modelbutton {
  @include lib.menubutton;
}

.icon-button {
  > button {
    padding: 0.25rem;
  }
}

entry {
  all: unset;
}

popover contents {
  all: unset;
  @include lib.window;
  border: none;
}

popover arrow {
  background: none;
  border: none;
}
